*.mdf
*.ldf

Backup/

Notes/InMemoryDB_mod1/

BE/.vs/

BE/API/Logs/*
BE/API/apikey
BE/API/jwt.key
BE/API/key
BE/API/salt

BE/API/obj/
BE/API/bin/

BE/SQLAgent/obj/
BE/SQLAgent/bin/

appsettings.json
appsettings.Production.json