/****** Object:  Table [dbo].[MMCt]    Script Date: 2/11/2026 8:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MMCt](
	[ma_cty] [nvarchar](5) NOT NULL,
	[id_ph] [nvarchar](50) NOT NULL,
	[stt] [int] NOT NULL,
	[ma_ct] [nvarchar](3) NOT NULL,
	[ma_gd] [int] NOT NULL,
	[so_ct] [nvarchar](12) NOT NULL,
	[ngay_ct] [smalldatetime] NOT NULL,
	[ngay_dksx] [smalldatetime] NOT NULL,
	[ma_kh] [nvarchar](20) NOT NULL,
	[nguoi_gd] [nvarchar](100) NOT NULL,
	[ma_nv] [nvarchar](20) NOT NULL,
	[ma_dm] [nvarchar](20) NOT NULL,
	[ma_spct] [nvarchar](20) NOT NULL,
	[dien_giai] [nvarchar](255) NOT NULL,
	[trang_thai] [int] NOT NULL,
	[ma_cd] [nvarchar](20) NOT NULL,
	[ma_cd_sx] [nvarchar](20) NOT NULL,
	[ma_cd_nhan] [nvarchar](20) NOT NULL,
	[nxt] [nvarchar](1) NOT NULL,
	[so_luong] [decimal](19, 4) NOT NULL,
	[so_luong_hong] [decimal](19, 4) NOT NULL,
	[sl_nhap] [decimal](19, 4) NOT NULL,
	[sl_xuat] [decimal](19, 4) NOT NULL,
	[sl_nhap_hong] [decimal](19, 4) NOT NULL,
	[sl_xuat_hong] [decimal](19, 4) NOT NULL,
	[id_dh] [nvarchar](50) NOT NULL,
	[id_lsx] [nvarchar](50) NOT NULL,
	[ngay_lct] [smalldatetime] NOT NULL,
	[ma_dcs] [nvarchar](20) NOT NULL,
	[ma_hts] [nvarchar](20) NOT NULL,
	[ma_bs] [nvarchar](20) NOT NULL,
	[ten_bs] [nvarchar](200) NOT NULL,
	[mau_son] [nvarchar](50) NOT NULL,
	[kh_son] [nvarchar](20) NOT NULL,
	[nha_pp] [nvarchar](150) NOT NULL,
	[ten_kh_ngan] [nvarchar](15) NOT NULL,
	[ma_vt] [nvarchar](20) NOT NULL,
	[ma_vt_kh] [nvarchar](20) NOT NULL,
	[ten_vt] [nvarchar](200) NOT NULL,
	[dvt] [nvarchar](20) NOT NULL,
	[dvt_mua] [nvarchar](20) NOT NULL,
	[do_day] [nvarchar](10) NOT NULL,
	[ma_htxl] [nvarchar](20) NOT NULL,
	[ngay_giao] [smalldatetime] NOT NULL,
	[nguon_son] [nvarchar](3) NOT NULL,
	[sl_son] [decimal](19, 4) NOT NULL,
	[lan_xl_loi] [int] NOT NULL,
	[sl_dvt_mua] [decimal](19, 4) NOT NULL,
	[loai_hang] [nvarchar](1) NOT NULL,
	[sl_dat] [decimal](19, 4) NOT NULL,
	[sl_dd] [decimal](19, 4) NOT NULL,
	[sl_loi] [decimal](19, 4) NOT NULL,
	[sl_hong] [decimal](19, 4) NOT NULL,
	[sl_loi_mma] [decimal](19, 4) NOT NULL,
	[ghi_chu] [nvarchar](255) NOT NULL,
	[id_pod] [nvarchar](50) NOT NULL,
	[stt_pod] [int] NOT NULL,
	[so_ct_pod] [nvarchar](12) NOT NULL,
	[id_mma] [nvarchar](50) NOT NULL,
	[stt_mma] [int] NOT NULL,
	[so_mma] [nvarchar](12) NOT NULL,
	[cuser] [nvarchar](20) NOT NULL,
	[so_c_lk] [nvarchar](12) NOT NULL,
	[so_ct_lk] [nvarchar](12) NOT NULL,
	[hs_dvtmua] [decimal](19, 4) NOT NULL,
	[ma_kho] [nvarchar](20) NOT NULL,
	[ma_nvql] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_cty]  DEFAULT ('') FOR [ma_cty]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_id_ph]  DEFAULT ('') FOR [id_ph]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_stt]  DEFAULT ((0)) FOR [stt]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_ct]  DEFAULT ('') FOR [ma_ct]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_gd]  DEFAULT ((0)) FOR [ma_gd]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_so_ct]  DEFAULT ('') FOR [so_ct]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ngay_ct]  DEFAULT ('') FOR [ngay_ct]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ngay_dksx]  DEFAULT ('') FOR [ngay_dksx]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_kh]  DEFAULT ('') FOR [ma_kh]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_nguoi_gd]  DEFAULT ('') FOR [nguoi_gd]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_nv]  DEFAULT ('') FOR [ma_nv]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_dm]  DEFAULT ('') FOR [ma_dm]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_spct]  DEFAULT ('') FOR [ma_spct]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_dien_giai]  DEFAULT ('') FOR [dien_giai]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_trang_thai]  DEFAULT ((0)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_cd_sx1]  DEFAULT ((0)) FOR [ma_cd]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_cd_sx]  DEFAULT ((0)) FOR [ma_cd_sx]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_ma_cd_nhan]  DEFAULT ('') FOR [ma_cd_nhan]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_nxt]  DEFAULT ((1)) FOR [nxt]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_so_luong_hong]  DEFAULT ((0)) FOR [so_luong_hong]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_sl_nhap]  DEFAULT ((0)) FOR [sl_nhap]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_sl_xuat]  DEFAULT ((0)) FOR [sl_xuat]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_so_luong_hong11]  DEFAULT ((0)) FOR [sl_nhap_hong]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_so_luong_hong1]  DEFAULT ((0)) FOR [sl_xuat_hong]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_id_dh]  DEFAULT ('') FOR [id_dh]
GO
ALTER TABLE [dbo].[MMCt] ADD  CONSTRAINT [DF_MMCt_id_dh1]  DEFAULT ('') FOR [id_lsx]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ngay_lct]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_dcs]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_hts]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_bs]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ten_bs]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [mau_son]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [kh_son]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [nha_pp]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ten_kh_ngan]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_vt]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_vt_kh]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ten_vt]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [dvt]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [dvt_mua]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [do_day]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_htxl]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ngay_giao]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [nguon_son]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [sl_son]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [lan_xl_loi]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [sl_dvt_mua]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [loai_hang]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [sl_dat]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [sl_dd]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [sl_loi]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [sl_hong]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [sl_loi_mma]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ghi_chu]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [id_pod]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [stt_pod]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [so_ct_pod]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [id_mma]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [stt_mma]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [so_mma]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [cuser]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [so_c_lk]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [so_ct_lk]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ((0)) FOR [hs_dvtmua]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_kho]
GO
ALTER TABLE [dbo].[MMCt] ADD  DEFAULT ('') FOR [ma_nvql]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã nhân viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MMCt', @level2type=N'COLUMN',@level2name=N'ma_nv'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã công đoạn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MMCt', @level2type=N'COLUMN',@level2name=N'ma_cd_sx'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã công đoạn nhận' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MMCt', @level2type=N'COLUMN',@level2name=N'ma_cd_nhan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Nhập, 2-Xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MMCt', @level2type=N'COLUMN',@level2name=N'nxt'
GO
